In [1]:
import json
import numpy as np
import pandas as pd
import pickle
import requests

import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.tree import DecisionTreeClassifier

In [2]:
iris = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
le = LabelEncoder()
le.fit(iris['species'])
iris['species'] = le.transform(iris['species'])

In [4]:
features = iris.columns.drop(['species'])
target = 'species'
X = iris[features]
y = iris[target]
# features
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [5]:
# target
y.head()

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int32

In [6]:
# split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=123)

In [7]:
algo = DecisionTreeClassifier()
model = algo.fit(X_train, y_train)

In [8]:
# preds
preds = model.predict(X_test)

In [9]:
# accuracy
accuracy_score(y_test, preds)

0.9473684210526315

In [10]:
print(classification_report(y_test, preds))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        16
           1       0.80      1.00      0.89         8
           2       1.00      0.86      0.92        14

    accuracy                           0.95        38
   macro avg       0.93      0.95      0.94        38
weighted avg       0.96      0.95      0.95        38

In [13]:
# pickle
pickle.dump(model, open('iris_model.pkl', 'wb'))

In [22]:
data = json.dumps({'sepal_length': 5, 'sepal_width': 1.5, 
                   'petal_length': 4.1, 'petal_width': 3.8})
print(data)

{"sepal_length": 5, "sepal_width": 1.5, "petal_length": 4.1, "petal_width": 3.8}

In [23]:
url = "http://localhost:9000/api"
send = requests.post(url, data)

In [24]:
print(send.json())

{'results': {'y_hat': 2}}